.recent_blog {
  width: 100%;
  display: grid;
  grid-template-columns: 43% 55%;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  margin-bottom: 20px;
  border-radius: 4px;

  .recent_blog_img {
    object-fit: cover;
    border-radius: 2px;
    cursor: pointer;
  }

  .recent_blog_txt {
    padding-right: 10px;
    h3 {
      cursor: pointer;
      transition: all 0.3s ease;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    h3:hover {
      color: #223c7e;
    }

    // p {
    //   margin-bottom: 0px;
    // }
  }
}
