.tabled .ant-row {
    display: block;
}

.ant-card {
    padding: 16px !important;
}

.ant-form-item-control-input-content {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.ant-form-item-control-input-content .ant-form-item {
    width: calc(50% - 12px);
}

.form-btn > .ant-form-item-control-input-content {
    justify-content: flex-start;
}

.ant-input-affix-wrapper {
    max-height: 40px;
}

.ant-input-affix-wrapper input {
    height: 100%;
}

.ant-picker,
.ant-select-selector {
    height: 40px !important;
}

.ant-select-selection-item {
    display: flex;
    align-items: center;
}
