.blog_component {
  .blog_component_main {
    width: 100%;
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;

    .blog_component_header {
      width: 98%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .seeall_btn {
        padding: 10px 14px;
        background: none;
        border: none;
        border: 1px solid #223c7e;
        font-weight: bold;
        font-size: 15px;
        color: #223c7e;
        border-radius: 4px;
        margin-top: 20px;
        cursor: pointer;
        transition: all 0.4s ease;
      }

      .seeall_btn:hover {
        background-color: #223c7e;
        color: white;
      }
    }

    .blog_component_items {
      width: 98%;
      margin-left: auto;
      margin-right: auto;

      .mySwiper {
        .blog_card {
          margin-bottom: 50px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          border-radius: 3px;

          .blog_card_image {
            object-fit: cover;
            border-radius: 5px;
            position: relative;
          }

          .blog_card_tag {
            position: absolute;
            top: 10px;
            left: 0px;
            background-color: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            padding: 8px 12px;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            font-weight: bold;
            color: #223c7e;
          }

          h2 {
            padding: 0px 10px;
            cursor: pointer;
            font-weight: 700;
            transition: all 0.4s ease;
            font-size: 25px;
          }
          h2:hover {
            color: #223c7e;
          }

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            color: rgb(25, 40, 63);
            padding: 0px 10px;
          }

          .blog_card_btm {
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              display: flex;
              align-items: center;
              color: rgb(25, 40, 63);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .blog_component {
    .blog_component_main {
      .blog_component_items {
        width: 80%;

        .mySwiper {
          .blog_card {
            h2 {
              padding: 0px 0px;
              font-size: 24px;
            }

            p {
              padding: 0px 0px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .blog_component {
    .blog_component_main {
      padding-top: 30px;
      padding-bottom: 50px;
      .blog_component_header {
        width: 95%;
        h1 {
          font-size: 25px;
        }

        .seeall_btn {
          padding: 7px 8px;
          font-size: 14px;
          margin-top: 0px;
        }
      }

      .blog_component_items {
        width: 90%;
      }
    }
  }
}
