.input_div {
  //   width: 90%;
  //   margin-left: auto;
  //   margin-right: auto;
  //   text-align: center;
  input {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #2650b1;
  }

  span {
    color: red;
    float: left;
    margin: -12px 0px 10px;
    display: none;
    width: 100%;
  }

  input:invalid[focused="true"] ~ span {
    display: contents;
  }
}

@media screen and (max-width: 767px) {
  .input_div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    input {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
