.footer_item {
  h2 {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 20px;
    font-size: 17px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: rgb(80, 78, 78);
  }

  p:hover {
    color: #214191;
    text-decoration: underline;
  }
}

@media screen and (max-width: 567px) {
  .footer_item {
    h2 {
      margin-bottom: 25px;
    }

    p {
      margin-bottom: 15px;
    }
  }
}
