.contact_page {
    width: 100%;
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -120px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 20% 78%;
    grid-gap: 25px;
    justify-content: center;
    h2 {
        margin-bottom: 30px;
    }
    .contact_page_card {
        display: flex;
    }
}
