.hotels_page {
  .hotels_page_main {
    font-size: 14px;
    width: 100%;
    max-width: 1224px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -120px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 30% 68%;
    grid-gap: 25px;
    justify-content: center;

    .hotels_page_search {
      border: 1px solid #e7e7e7;
      padding-bottom: 15px;
      padding-left: 5%;
      padding-right: 5%;
      border-radius: 3px;
      height: max-content;
    }
    .hotels_page_search:nth-child(2) {
      margin-top: 16px;
    }
  }
}
