.pageNotFound {
  .pageNotFound_main {
    width: 60%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 150px;

    .image {
      object-fit: cover;
    }
  }
}
