.profile {
    .avatar {
        width: 150px;
        height: 150px;
        background-color: #999999;
        border: 4px solid #cccccc;
        color: #ffffff;
        border-radius: 50%;
        margin: 0px auto;
        overflow: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            margin-top: 0 !important;
            object-fit: cover;
        }
        input[type="file"] {
            cursor: pointer;
            display: block;
            width: 150px;
            height: 150px;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
            opacity: 0 !important;
            &:hover &::before {
                content: "Click to Upload";
            }
        }
        &:hover {
            border-color: #ba68c8;
        }
    }
    .form_control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.375rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            box-shadow: none;
            border-color: #ba68c8;
            color: #212529;
            background-color: #fff;
            outline: 0;
        }
    }

    .profile_button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none;
    }

    .profile_button:hover {
        background: #682773;
    }

    .profile_button:focus {
        background: #682773;
        box-shadow: none;
    }

    .profile_button:active {
        background: #682773;
        box-shadow: none;
    }

    .back:hover {
        color: #682773;
        cursor: pointer;
    }

    .labels {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .add_experience:hover {
        background: #ba68c8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #ba68c8;
    }
}
