.signup_page {
  .signup_page_main {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 150px;
    margin-top: 100px;
    text-align: center;

    .signup_page_form {
      padding: 20px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      background-color: #e7f6f2;
      border-radius: 3px;

      .signup_progress {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 10px;
        overflow: hidden;
        border-radius: 10px;
        background-color: white;
        z-index: -2;
        transition: all 0.5s ease;

        .signup_progress_widht {
          background-color: #2650b1;
          height: 10px;
          z-index: 10;
          width: 33.3%;
        }
      }

      .form_container {
        .upload_img {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          margin: 20px 0px;

          .img {
            object-fit: cover;
            border-radius: 50%;
          }

          .form_inp {
            label {
              display: flex;
              align-items: center;

              .file_icon {
                font-size: 30px;
                cursor: pointer;
              }
            }
          }
        }

        .form_btns {
          padding: 7px 14px;
          border-radius: 4px;
          border: none;
          background-color: #607eaa;
          color: white;
          font-size: 16px;
          cursor: pointer;
        }

        .submit_btn {
          margin-top: 15px;
          padding: 8px 17px;
          border-radius: 4px;
          border: none;
          background-color: #2650b1;
          color: white;
          font-size: 17px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .signup_page {
    .signup_page_main {
      .signup_page_form {
        padding: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .signup_progress {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
