.blog {
  display: grid;
  grid-template-columns: 38% 60%;
  grid-gap: 25px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  background-color: #e9fbff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 2px;

  .blog_img {
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    .blog_imggg {
      border-radius: 3px;
    }

    .blog_tag {
      position: absolute;
      top: -15px;
      left: 0px;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      padding: 8px 12px;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      font-weight: bold;
      color: #223c7e !important;
    }
  }

  .blog_details {
    padding-right: 20px;
    h2 {
      margin-top: 5px;
      margin-bottom: -20px;
      cursor: pointer;
      transition: all 0.3s ease;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    h2:hover {
      color: #223c7e;
    }

    p {
      margin-top: -10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }

    .blog_foter {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -35px;

      p {
        color: rgb(25, 40, 63) !important;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .blog {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 25px;
    justify-content: center;
    align-items: center;

    .blog_details {
      padding: 0px 15px;
      h2 {
        margin-top: -5px;
        margin-bottom: -20px;
      }

      .blog_foter {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -30px;

        p {
          color: rgb(25, 40, 63) !important;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
